@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

body {
    background-repeat: no-repeat;
    background-size: 100% 35%;
    display: grid;
    place-items: center;
    font-family: "Josefin Sans", sans-serif;
    height: 100vh;
    
}

.container {
    flex-direction: column;
    max-width: 450px;
    width: 85vw;
    margin-top: 50px;
    --gap: 0;
    font-family: inherit;
}

header {
    justify-content: space-between;
    width: 100%;
    /* background-color: red; */
}

header h1 {
    color: white;
    letter-spacing: 10px;
    font-weight: 600;
}

form {
    width: 100%;
    padding: 10px;
    height: 60px;
    outline: none;
    border: none;
    background-color: var(--text-bg);
    color: var(--text-color);
    margin: 1rem auto;
    --b-radius: 5px;
    display: flex;
    align-items: center;
    border-radius: var(--b-radius);
}

form input {
    width: 100%;
    height: 100%;
    margin-left: 15px;
    border: none;
    outline: none;
    background-color: inherit;
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.3rem;
}

form > .box {
    height: 20px;
    aspect-ratio: 1;
    border: 1px solid var(--Dark-Grayish-Blue);
    border-radius: 50%;
    /* position: absolute;
    left: 0;
    transform: translateX(85%); */
}


ul {
    border-bottom:1px solid var(--text-color);
    width: 100%;
    flex-basis: 50vh;
    overflow-y: auto;
    /* height: 30px; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 0 20px 0 hsl(235, 21%, 11%, 50%);
}

li {
    width: 100%;
    padding: 20px;
    background-color: var(--text-bg);
    color: var(--text-color);
    align-items: center;
    --gap: 1rem;
    cursor: pointer;
    position: relative;
}

li > p::first-letter {
    text-transform: capitalize;
}


/* CUSTOM CHECKBOX */

#checkbox{
    opacity: 0;
    z-index: 1;
}

.checkmark {
    height: 20px;
    aspect-ratio: 1;
    border: 1px solid var(--Dark-Grayish-Blue);
    border-radius: 50%;
    position: absolute;
    left: 0;
    transform: translateX(85%);

}

.container input:checked~.checkmark {
    background: url(./images/icon-check.svg), linear-gradient(150deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    background-repeat: no-repeat;
        background-position: center;
        border: none;
}

.container input:hover~.checkmark {
    border-color: var(--text-hover);
}


.bottom {
    justify-content: space-between;
    padding: 20px;
    font-size: .9rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 5px 20px 0 hsla(235, 21%, 11%, 50%);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.bottom p:hover,
.time-left:hover,
.clear:hover,
.bottom p:focus,
.time-left:focus,
.clear:focus {
    color: var(--text-hover);
    cursor: pointer;
}

.filter {
    --gap: 5px;
}

.time-left {
    color: var(--Dark-Grayish-Blue);
}

.footer {
    background: none;
    color: var(--Dark-Grayish-Blue);
    font-size: .8rem;
}

.checked {
    text-decoration: line-through;
}

.del {
    margin-left: auto;
    display: none;
    height: 15px;
    overflow: visible;
}

li:hover .del{
    display: block;
}






@media(max-width: 700px) {
    .container {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    ul {
        flex-basis: 45vh;
        box-shadow: none;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: dense;
        row-gap: 15px;
        background-color: var(--background);
        padding-inline: 0;
        padding: 0;
    }
    
    .filter {
        grid-column: 1/3;
        justify-content: center;
        gap: 20px;
        padding: 20px;
        border-radius: 5px;
        background-color: var(--text-bg);
        color: var(--text-color);

    }
    
    .clear {
        text-align: end;
        background-color: var(--text-bg);
        color: var(--text-color);
        padding: 20px;
        border-bottom-right-radius: 5px;
    }

    .time-left {
        background-color: var(--text-bg);
        color: var(--text-color);
        padding: 20px;
        border-bottom-left-radius: 5px;
    }

    .bottom {
        box-shadow: none;
    }

    .del {
        display: block;
    }

    
}

/* 
<style>body {
    display: grid;
    place-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(0 0 0 / .1);
    width: 50vw;
    height: 50vh;
}

form {
    display: flex;
    align-items: center;
    position: relative;
}

input {
    margin-right: 5px;
    opacity: 0;
    z-index: 1;
}

.checkmark {
    height: 20px;
    aspect-ratio: 1;
    border: 1px solid green;
    border-radius: 50%;
    position: absolute;
    left: 0;

}

.container input:checked~.checkmark {
    background-color: red;
}

</style><body><div class="container"><form><label for="checkbox"></label><input type="checkbox"><div class="checkmark"></div><p>Boy</p></form></div></body> */